

  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #f5d2d2; /* Rosa muy claro */
  }
  
  th {
    background-color: #fce5e7; /* Rosa pastel */
    color: #e4007f;
    font-weight: bold;
  }
  
  td {
    background-color: #fff8f2; /* Fondo amarillo claro */
  }
  
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .filtro {
    background-color: #fce5e7; /* Rosa pastel */
    padding: 5px 10px;
    border-radius: 15px;
    color: #e4007f;
  }
  
  /* Estilos para el checkbox en la tabla */
  input[type="checkbox"] {
    margin: 0;
  }
  
  .tabla-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-top: 20px;
  }
  
  /* Estilos del menú */
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 235, 222);
    padding: 1rem;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    line-height: normal;
    position: fixed;
    width: 115.7rem;
    top: 0;
    z-index: 100;
  }
  
  .menu img {
    height: 65px;
    margin-left: 2rem;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    width: 20%;
    justify-content: space-evenly;
  }
  
  .menu ul li a {
    color: var(--negro);
    text-decoration: none;
  }
  
  .menu ul li a:hover {
    color: #cd0038;
    font-size: 1.1rem;
  }
  
  .left-section {
    display: flex;
    align-items: center;
    width: 70%;
  }
  
  .right-section {
    display: flex;
    align-items: center;
    width: 20%;
  }
  
  .right-section input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 206, 173);
  }
  
  .right-section select {
    padding: 8px;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .right-section .user-area,
  .right-section .cart {
    color: var(--negro);
    margin-left: 10px;
    cursor: pointer;
  }
  
  .right-section .cart {
    position: relative;
    width: 2.3rem;
  }
  
  .right-section .cart::after {
    content: "4";
    /* Example for cart item count */
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--burdeos);
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
  .tabla-container {
    max-height: 800px; /* Ajusta la altura según sea necesario */
    overflow-y: auto; /* Activa el scroll vertical cuando el contenido sobrepase el tamaño */
    border: 1px solid #ddd; /* Opcional: Agrega un borde alrededor de la tabla */
    margin-top: 20px; /* Opcional: Margen superior para separación */
  }
  
  /* Fin Estilos del menú */
  