.ventanaSuperpuesta {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrado exacto */
  width: 70%;
  max-width: 90%; /* para que no se salga en pantallas pequeñas */
  height: 85%; /* o puedes mantener 65% si lo prefieres */
  background-color: rgb(255, 255, 255);
  z-index: 19;
  filter: drop-shadow(0.1rem 0.1rem 0.4rem #0000003a);
  display: none;
  flex-direction: column;
  justify-content:end;
  padding: 2rem 2rem 2rem;

}


.cerrar{

width: 1.8rem;
align-self:last baseline;
}

#paginaProducto{

  display: flex;
  gap: 1rem;
  padding: 2rem;
  padding-left: 3rem;
}


.botonesPaginaProducto{
 display: flex;
 justify-content:center;


}

.botones{
display: flex;
justify-content: center;
align-items: end;
gap: 3rem;


}
.botonCarritoProducto{
background: none;
}


.divImagenProducto{
height: 50%;    
/*position: fixed;*/

}


.descripcionProducto{
  font-family: "Space Grotesk", serif;
  max-width: 90%;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

#paginaProductoAparte {
display: none; /* Oculto por defecto */
flex-direction: column; /* Asegúrate de usar flex si lo necesitas */
padding: 20px;
background-color: white;
}

.contador{
display: flex;
}
.num{
  font-size: 1rem;
  margin: 0 1rem;
}
.precioDisplay{
  font-size: 1.5rem;
  font-weight: bold;
}

button.cerrarBtn{
width: 2rem;
align-self:last baseline;
background: none;
color: rgb(64, 58, 58);
padding: 0.3rem;
font-size: 0.9rem;
border: none;

}

.cerrarBtn:hover{

background: none;
color: var(--burdeos);
font-weight: 600;
}

button.botonFlecha{
background-color: white;
border-radius: 100%;
border: solid rgb(161, 159, 159) 0.03rem;
padding: 0.8rem;
font-size: 1rem;
color: grey;
transition: background-color 0.3s ease;
}


button.botonFlecha:hover{

background: solid;
background-color: rgb(161, 159, 159);
color: aliceblue;

}

button.verPaginaProducto {
background: none;
color: var(--morado);
padding: 0;
margin-bottom: 1rem;
font-weight: bold;
font-size: 2rem;

}

.listaPropiedades{
  width: 5rm;
}



@media only screen and (max-width: 1024px) {

   .ventanaSuperpuesta{
   
    width: 80%;
    
    padding-bottom: 4rem;
    padding-top: 4rem;

  
  } 


#paginaProducto{

  display: flex;
 flex-direction: column;
  padding: 0.5rem;
  
}

button.verPaginaProducto{

  font-size: 1.3rem;
  margin-bottom: 0;


}

.precioDisplay{
  font-size: 1.1rem;

}

.listaPropiedades{
  width: 90%;
}



 .divImagenProducto img{
width:175px;
height: 181px;


} 

.descripcionProducto{

  font-size: 0.8rem;


}


}

