
.hamburger-menu i{
    font-size: 2rem;
    font-style: normal;
    display: none;
  }
  
  .right-section.active{
    width: 100%;
  }

@media (max-width: 768px) {
    /* Hamburger menu visibility */
    body .menu{
      width: 94%;
    }
    .menu ul {
        display: none;
      }
    .menu ul.active {
      display: flex;
      position: absolute;
      background-color: rgb(255, 235, 222);; 
      top: 5rem; 
      right: 50%;
      transform: translateX(50%);
      padding: 1rem;
      border-radius: 8px; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 35rem;
    }
    .menu .right-section .cart, .menu .right-section .user-area{
      display: none;
    }
    .menu .right-section.active .cart, .menu .right-section.active .user-area{
      display: flex;
      position: absolute; 
      background-color: rgb(255, 235, 222); ; 
      top: 5rem; 
      right: 50%;
      transform: translateX(50%);
      padding: 1rem;
      border-radius: 8px; 
      width: 35rem;
      align-items: center;
    }
    .menu .right-section.active .cart{
      width: 5%;
    }
    .menu .right-section.active .user-area i{
      margin-left: 25rem;
    }
    .menu .right-section input[type="search"]{
      display: flex;
      position: absolute;
      top: 1.2rem;
      left: 50%;
      transform: translateX(-50%);
      width: 10rem;
    }
    .menu .right-section #language-select{
      display: flex;
      position: absolute;
      top: 1.3rem;
      right: 7rem;
    }
  
    .right-section input[type="text"] {
      width: 90%;
    }
  
    .menu ul li a {
      padding: 1rem 0; 
      font-size: 1.2rem; 
      gap:1rem;
    }
  
    nav #fechayhora{
      display: none;
      opacity: 0;
    }  
  }
  @media (max-width: 768px) {
    .hamburger-menu {
      display:  flex; 
    }
    .hamburger-menu i{
      display: flex;
      margin: 0rem 2rem 0 0 ;
    }

  
    .right-section.active {
      justify-content: space-between;
      width: 100%;
      padding: 0.5rem;
    }
  }
  /* Adjust for mobile view: Hamburger menu */
  @media (max-width: 600px) {
    body .menu{
      width: 87%;
    }
    .menu ul li a {
      padding: 1rem ; 
      font-size: 1.2rem; 
    }
    .hamburger-menu i{
      margin: 0rem 3rem 0 0 ;
    }
    .menu ul {
      display: none; 
      flex-direction: column;
      align-items: center;
      background-color: rgb(255, 235, 222);
      position: absolute;
      top: 55px;
      border-radius: 0 0 5px 5px; 
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }
    .menu .right-section.active .cart, .menu .right-section.active .user-area{
      display: flex;
      position: absolute; 
      background-color: rgb(255, 235, 222); ; 
      top: 5rem; 
      right: 50%;
      transform: translateX(50%);
      padding: 1rem;
      border-radius: 8px; 
      width: 40%;
      align-items: center;
    } 
    .menu .right-section.active .cart{
      width: 5%;
    }
    .menu .right-section.active .user-area i{
      margin-left: 12rem;
    }
    .menu ul.active { 
      display: flex;
      top: 6rem;
      width: 40%;
    }
    /* Show user-area and cart in hamburger menu */
    .right-section .user-area,
    .right-section .cart {
      margin-top: 10px;
    }
  
    nav #fechayhora{
      display: none;
      opacity: 0;
    }  
  }