
.hamburger-menu i{
    font-size: 2rem;
    font-style: normal;
    display: none;
    cursor: pointer;
  }
  
  .right-section.active{
    width: 100%;
  }

@media (max-width: 768px) {
    /* Hamburger menu visibility */
    body .menu{
      width: 100%;
      flex-direction: row;
    }
    .menu ul {
        display: none;
      }
    .menu ul.active {
      display: flex;
      position: absolute;
      background-color: rgb(240, 239, 239);; 
      top: 5rem; 
      left: 0;
      /* transform: translateX(50%); */
      padding: 1rem;
     
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 35rem;
    }
    .menu .right-section .cart, .menu .right-section .user-area{
      display: none;
    }
    .menu .right-section.active .cart, .menu .right-section.active .user-area{
      display: flex;
      position: relative; 
      background-color: rgb(235, 234, 233); ; 
       top: 0; 
      left: 0;
     
      padding: 1rem;
     
      width: 35rem;
      align-items: center;
    }
    .menu .right-section.active .cart{
      width: 5%;
    }
    .menu .right-section.active .user-area i{
      margin-left: 25rem;
    }
    .menu .right-section input[type="search"]{
   
      width: 8rem;
     
     
   
      
    }
    .menu .right-section #language-select{
      display: flex;
      
       right: 1rem; 
      
    }
  
    /* .right-section input[type="text"] {
      width: 90%;
      
    } */


    .menu ul li a {
      padding: 1rem 0; 
      font-size: 1.2rem; 
      gap:1rem;
    }
  
    nav #fechayhora{
      display: none;
      opacity: 0;
    }  
  }
  @media (max-width: 768px) {
    .hamburger-menu {
      display:  flex; 
      position: fixed;
      left:0.5rem;
      top:6rem

    }
    .hamburger-menu i{
      display: block;
    
     
    }

  
    /* .right-section.active {
      justify-content: space-between;
      width: 100%;
      padding: 0.5rem;
    } */
  }
  /* Adjust for mobile view: Hamburger menu */
  @media (max-width: 600px) {
    body .menu{
      width: 100%;


      
    }
    .menu ul li a {
      padding: 1rem ; 
      font-size: 1.2rem; 
      
    }
    /* .hamburger-menu i{
      margin: 0rem 3rem 0 0 ;
    } */
    .menu ul {
      display: none; 
      flex-direction: column;
      align-items: center;
      background-color: rgb(250, 246, 242);
      position: absolute;
      top: 55px;
 
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }
    .menu .right-section.active .cart, .menu .right-section.active .user-area{
      display: flex;
      position: absolute; 
      background-color: rgb(239, 239, 239); 
      
      top: 22rem; 
      left: 7rem;
      transform: translateX(100%);
      padding: 1rem;
      width: 20%;
      align-items: center;
    } 
    .menu .right-section.active .cart{
      width: 5%;
    }
    .menu .right-section.active .user-area i{
      margin-left: 0;
    }
    .menu ul.active { 
      display: flex;
      position: absolute;
      top: 8.5rem;
      left: 0;
    }

    nav #fechayhora{
      display: none;
      opacity: 0;
    }  
  }