:root {
  --negro: black;
  --burdeos: #cd0038;
  --morado: #6f005e;
  --naranja: #ff6600;
  --blanco: white;
}

/* Estilos generales */
body,
html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Space Grotesk", serif;
}

h1{
  color: var(--blanco);
  font-size: 5rem;
  margin-bottom: 1rem;
}

h3 {
  color: var(--morado);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

h4{
  color: var(--burdeos);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
p{
  color: white;
}


button{
  padding: 0.5rem 1rem; /* Relleno del botón */
  background-color: var(--naranja); /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Mano al pasar el ratón */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--burdeos); /* Cambio de color al pasar el ratón */
}

/* Estilos del menú */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 235, 222);
  padding: 1rem;
  border-radius: 50px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
  line-height: normal;
  position: fixed;
  width: 115.7rem;
  top: 0;
  z-index: 100;
}

.menu img {
  height: 65px;
  margin-left: 2rem;;
}

.menu ul{
  display: flex;
  list-style: none;
  width: 20%;
  justify-content: space-evenly;

}
.menu ul li a{
  color: var(--negro);
  text-decoration: none;
}

.left-section{
  display: flex;
  align-items: center;
  width:70%;
}

.right-section {
  display: flex;
  align-items: center;
}

.right-section input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(255, 206, 173);
}

.right-section select {
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
}

.right-section .user-area,
.right-section .cart {
  color: var(--negro);
  margin-left: 10px;
  cursor: pointer;
}

.right-section .cart {
  position: relative;
  width: 2.3rem;
}

.right-section .cart::after {
  content: '4'; /* Example for cart item count */
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--burdeos);
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/*HERO*/
.hero-carousel {
  position: relative;
  overflow: hidden;
  width: 100vw; /* Asegura que ocupe todo el ancho del viewport */
  height: 120vh;
  margin: 0; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier padding */
  margin-top: -150px;
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.hero-slide.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.hero-text-1 {
  margin: 5rem 0 0 60rem;
  animation: none; /* Por defecto, sin animación */
}

.hero-text-2 {
  margin: 5rem 60rem 0 0;
  animation: none; /* Por defecto, sin animación */
}

.hero-text-3 {
  margin: 5rem 60rem 0 0;
  animation: none; /* Por defecto, sin animación */
}

.hero-carousel p{
  font-size: 2rem;
}
.hero-slide.active .hero-text {
  animation: fadeInUp 1.2s ease-in-out;
}
.hero-text h1 {
  animation: fadeInUp 1s ease-out 0.5s both;
}

.hero-text p {
  animation: fadeInUp 1s ease-out 1s both;
}


.btn-hero {
  display: inline-block;
  padding: 1rem 2rem;
  color: white;
  background-color: var(--burdeos);
  border-radius: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.btn-hero:hover {
  transform: scale(1.1);
  background-color: var(--morado);
}

/* Hover específico para el botón en la diapositiva activa */
.hero-slide:active .btn-hero:hover {
  transform: scale(1.1);
  background-color: var(--morado);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.sobre-nosotros-img {
  width: 25%;
  height: auto;
  border-radius: 2rem;
}

.sobre-nosotros div {
  width: 40%;
  height: auto;
  text-align: center;
}

.sobre-nosotros h3 {
  text-align: left;
}

.sobre-nosotros-texto {
  width: 100%;
  height: auto;
  text-align: justify;
}*/

.productos {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.filtros {
  width: 60%;
  border-radius: 1rem;
  background-color: white;
  color: var(--burdeos);
  text-align: left; /* Cambia el alineamiento del texto a la izquierda */
  display: flex;
  flex-direction: column; /* Alinea elementos verticalmente */
  align-items: flex-start; /* Alinea los hijos al inicio */
  padding: 1rem 0 0 2rem; /* Añade algo de espacio alrededor del contenido */
}

ul {
  list-style: none;
}

/* Cambiar el fondo y el borde del catálogo */
.elementoProducto {
  background-color: #f5f5f5; /* Color de fondo claro */
  border: 1px solid #ddd; /* Borde gris claro */
  border-radius: 10px; /* Bordes redondeados */
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/* Cambiar el estilo de las imágenes en el catálogo */
.imagenCatalogo {
  width: 200px; /* Ancho fijo */
  height: auto; /* Altura automática para mantener la proporción */
  border-radius: 5px; /* Bordes redondeados */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.imagenCatalogo:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
  filter: brightness(1.1); /* Efecto de brillo */
  filter: drop-shadow(0.1rem 0.1rem 0.4rem #0000003a);
}

/* Cambiar el estilo de los títulos de los productos */
.tituloProducto {
  font-size: 1.2rem; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  color: #333; /* Color del texto */
  margin-top: 0.5rem; /* Espacio superior */
}

/* Cambiar el estilo de los precios de los productos */
.elementoProducto p {
  font-size: 1rem; /* Tamaño de fuente */
  color: #555; /* Color del texto */
}

/* Estilo del botón */
.elementoProducto button {
  padding: 0.5rem 1rem; /* Relleno del botón */
  background-color: var(--naranja); /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Mano al pasar el ratón */
  transition: background-color 0.3s ease;
}

.elementoProducto button:hover {
  background-color: var(--burdeos); /* Cambio de color al pasar el ratón */
}


/* Estilos para la Sección del Té del Mes */
.te-del-mes {
  background-color: var(--blanco);
  padding: 2rem 0;
  text-align: center;
}

.te-mes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  max-width: 80%;
  align-items: center;
}

.te-mes-texto {
  max-width: 50%;
  text-align: left;
}

.te-mes-texto p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.te-mes-texto ul {
  list-style: none;
  padding: 0;
}

.te-mes-texto li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.btn-te-mes {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--naranja);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-te-mes:hover {
  background-color: var(--burdeos);
}

.te-mes-imagen {
  max-width: 40%;
}

.te-mes-imagen .imagen-te {
  width: 100%;

}
/* Estilos para la Sección de Testimonios */
.testimonios {
  background-color: var(--blanco);
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 3rem;
}

.testimonios-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  max-width: 80%;
}

.testimonio {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.foto-testimonio {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.texto-testimonio {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.nombre-testimonio {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--burdeos);
}

/* Estilos para la Sección de Oferta Especial */
.oferta-especial {
  background-color: var(--blanco);
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
}

.titulo-oferta {
  color: var(--morado);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.oferta-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  max-width: 90%;
  margin: 0 auto;
}

.oferta-detalle {
  max-width: 50%;
  text-align: left;
}

.oferta-detalle p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.lista-detalle {
  list-style: none;
  padding: 0;
}

.lista-detalle li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.oferta-imagen {
  max-width: 23%;
}

.oferta-imagen .imagen-oferta {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/*merch*/
.merch-section {
  background-color: var(--blanco);
  padding: 2rem 0;
  text-align: center;
}

.merch-section h3 {
  color: var(--morado);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.merch-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  max-width: 80%;
}

.merch-item {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.merch-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.merch-image:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.merch-item h4 {
  color: var(--burdeos);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.merch-item p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.btn-merch {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--naranja);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-merch:hover {
  background-color: var(--burdeos);
}

/*FOOTER*/
.footer-container {
  background-color: var(--morado);
  color: white;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.comercio-justo { 
  width: 55%; 
  text-align: center; 
  margin-bottom: 1rem; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
} 
.comercio-justo p { 
  margin: 0; 
  padding: 0.5rem 0
}
.linea-fina {
  border: none; /* Elimina cualquier borde predeterminado */
  border-top: 1px solid #ccc; /* Añade una línea superior fina */
  margin: 0.5rem 0;
  padding: 1rem; /* Espaciado alrededor de la línea */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}

.newsletter {
  flex: 1;
  min-width: 300px;
  margin-right: 1rem;
}

.newsletter h3 {
  color: var(--blanco)
  margin-top: 0;
}

.newsletter p {
  margin-top: 0.5rem;
}

.newsletter form {
  display: flex;
  margin-top: 0.5rem;
}

.newsletter input[type="email"] {
  flex: 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  border: none;
}

.newsletter button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--naranja);
  color: white;
  cursor: pointer;
}

.newsletter .social-media {
  margin-top: 1rem;
}

.newsletter .social-media a {
  color: white;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.footer-columns {
  display: flex;
  flex: 2;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-right: 1rem;
}

.footer-column h4 {
  margin-top: 0;
}

.footer-column p {
  margin: 0.5rem 0;
}

.footer-column a {
  color: white;
  text-decoration: none;
  display: block;
}

.footer-column a:hover {
  text-decoration: underline;
}

.subfooter {
  background-color: #6f005e;
  color: white;
  text-align: center;
  padding: 1rem;
}

.subfooter p {
  margin: 0;
}

/* Estilos responsive para el menú */
@media (max-width: 768px) {
  .menu {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .menu-icon {
    display: block;
    position: relative;
    top: 1rem;
    left: 1rem;
    z-index: 10;
  }

  .menu ul {
    flex-direction: column;
    width: 100%;
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1rem 0;
  }

  .menu ul li {
    width: 100%;
    margin: 0;
  }

  .menu ul li a {
    display: block;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid var(--blanco);
  }

  .menu-toggle:checked + ul {
    display: flex;
  }

  .hero-text {
    width: 80%;
    font-size: 0.8rem;
  }

  .hero-slide {
    height: 60vh;
  }
}
