:root {
  --negro: black;
  --burdeos: #CD0038;
  --morado: #6F005E;
  --naranja: #FF6600;
  --blanco: white;
}
* {
margin: 0;
padding: 0;
}

a{
  text-decoration: none;
}

#contacto .texto-contacta{
  width: 100%;
  min-height: 25rem;
  background-image: url(herbal-tea-cups-white-background_176873-3254.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


/* Estilos del menú */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blanco);
  padding: 1rem;
}

.menu img {
  height: 70px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin: 0 1rem;
}
.menu ul li:hover a{
  color: #CD0038;
  text-decoration: underline;
}

.menu ul a {
  color: var(--negro);
  text-decoration: none;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  color: var(--negro);
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

#contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  font-size: 1.2rem;
  font-family: var(--font);
  color: var(--negro);
}

#contacto .contacto-flex{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 2%;
  padding-top:2.5%;
  padding-left:5%;
  padding-right: 5%;
  padding-bottom: 5%;
  background-color: var(--blanco);
  background-color:#dde1e6;
  margin:0;
}

.map-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15rem;

}

.formulario{
  width: 100%;
  margin-bottom: 5%;
  margin-top: 2%;
  padding-top:2.5%;
  background-color: var(--blanco);
  box-shadow: 14px 20px 10px rgba(0,0,0,0.1);
  border-radius: 0.5rem;
}

input{
  font-size: 1.2rem;
  color:var(--negro);
  text-indent:1rem;
  border: red 0.12 rem solid;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  width:100%;
  min-height: 2.5rem;
  border-radius: 0.8rem;
}
p{
  font-size: 1.2rem;
}

.contenedorboton {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  background-color: var(--blanco);
  border:var(--naranja) solid 0.2rem;
  text-align: center;

}

#contacto h2 {
  text-align: center;
}

#contacto section {
  padding:10px;
  border-radius: 8px;
  
  margin: 3rem;
  width: 100%;
}

#contacto h1 {
  color: var(--burdeos);
  text-align: center;
  font-size: 3rem;
  width: 50%;
  height: 50%;
  margin: 2rem;
  padding: 0.5rem;
  font-weight: bold;
}


#contacto ul {
  padding: 30px;
}

#contacto label {
  margin-top: 10px;
}

#contacto button {
  border-radius: 4px;
  cursor: pointer;

  font-size: 2rem;
  padding: 0.5rem;
  background: none;
}

#contacto button:hover {
  background-color: var(--naranja);
  color: var(--blanco);
}

#contacto .mi-formulario {
  margin: auto;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  font-size: 30px;
}

#contacto .acepto {
  font-weight: bolder;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
}

#contacto a:hover {
  opacity: 0.5;
}

#contacto .aviso {
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  line-height: 2rem;
}

#contacto .datos {
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

#contacto .map-container {
  border: 1px solid #ccc;
  margin: 2rem;
  text-align: center;
  width: 80%;
  padding: 0.5rem;
  min-height: 15rem;
}

#contacto iframe {
  width: 100%;
  height: 60vh;
  margin: 0;
}
/* Estilos para móviles */

@media (max-width: 600px) {


  #contacto .formulario h3 {
    font-size: 2rem;
  }

  #contacto .formulario input {
    font-size: 1.2rem;
  }

}

/* Estilos para tablet */

@media (max-width: 768px) {
  #contacto .formulario h3 {
    font-size: 1.5rem;
  }

  #contacto .formulario h3 {
    font-size: 2.5rem;
  }

  #contacto .formulario input {
    font-size: 1.6rem;
  }

}

footer {
  background-color: var(--morado);
  color: var(--blanco);
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

footer p{
  width: 30%;
  border: #FF6600 3px solid;
  justify-content: center;
}

footer p a{
  text-decoration: none;
  color: var(--blanco);
  display: flex;
}

.subfooter{
background-color: var(--morado);
  color: var(--blanco);
  text-align: center;
}

/*************** ESTILOS RGPD ****************/
#rgdp {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-style: normal;
  font-family: var(--font);
  color: var(--textcolor);
  font-size: 1.2rem;
}

#rgdp h1 {
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--colortextodestacado);
  margin: 0.5rem;
}

#rgdp h3 {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--colortextodestacado);
}

#rgdp main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5rem;
  margin: 1.8rem;
}

#rgdp main .contenido {
  background-color: white;
  border-radius: 10px;
  padding: 3.5rem;
  margin: 2rem 1rem;
  line-height: 1.5rem;
}

#rgdp .proteccion-datos {
  width: 40%;
  margin: auto;
  text-align: center;
}

/* Estilos para móviles */

@media (max-width: 600px) {
  #rgdp .proteccion-datos {
    width: 100%;

  }
}