:root {
  --negro: black;
  --burdeos: #cd0038;
  --morado: #6f005e;
  --naranja: #ff6600;
  --blanco: white;
}

.contacto-texto {
  background-image: url(hojas-y-flores-para-infusion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.contacto-texto:hover {
  transform: scale(1.05);
}
/* Estilos generales */
body,
html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Space Grotesk", serif;
}

h1 {
  color: var(--blanco);
  font-size: 5rem;
  margin-bottom: 1rem;
}

h3 {
  color: var(--morado);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

h4 {
  color: var(--burdeos);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

button {
  padding: 0.5rem 1rem; /* Relleno del botón */
  background-color: var(--naranja); /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Mano al pasar el ratón */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--burdeos); /* Cambio de color al pasar el ratón */
}

.cuerpo-contacto {
  margin: 5rem auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Estilos del menú */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 235, 222);
  padding: 1rem;
  border-radius: 50px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
  line-height: normal;
  position: fixed;
  width: 115.7rem;
  top: 0;
  z-index: 100;
}

.menu img {
  height: 65px;
  margin-left: 2rem;
}

.menu ul {
  display: flex;
  list-style: none;
  width: 20%;
  justify-content: space-evenly;
}

.menu ul li a {
  color: var(--negro);
  text-decoration: none;
}

.menu ul li a:hover {
  color: #cd0038;
  font-size: 1.1rem;
}

.left-section {
  display: flex;
  align-items: center;
  width: 70%;
}

.right-section {
  display: flex;
  align-items: center;
  width: 20%;
}

.right-section input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(255, 206, 173);
}

.right-section select {
  padding: 8px;
  margin-left: 15px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
}

.right-section .user-area,
.right-section .cart {
  color: var(--negro);
  margin-left: 10px;
  cursor: pointer;
}

.right-section .cart {
  position: relative;
  width: 2.3rem;
}

.right-section .cart::after {
  content: "4";
  /* Example for cart item count */
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--burdeos);
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/*estilos iconos*/
.contactanos {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.contactanos h2 {
  text-align: center;
  color: var(--morado);
  font-weight: bold;
}
.iconos-contacto {
  display: flex;
  justify-content: space-around; /* Espaciado igual entre los elementos */
  text-align: center; /* Centra el texto de cada ícono */
  padding: 20px;
  background-color: var(--blanco);
  gap: 2rem;
}

.icono-lugar {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icono-tel {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.icono-email {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.iconos-contacto div {
  flex: 1; /* Asegura que los elementos ocupen espacio igual */
  margin: 0 10px; /* Margen entre columnas */
}

.iconos-contacto i {
  font-size: 40px; /* Tamaño del ícono */
  color: var(--morado);
  margin-bottom: 10px; /* Espacio debajo del ícono */
}

.iconos-contacto h3 {
  font-size: 18px;
  color: #555; /* Color gris oscuro */
  margin: 10px 0;
}

.iconos-contacto p {
  font-size: 16px;
  color: #333; /* Texto verde oscuro */
}

/* Formulario */

.contenedor1 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%; /* Ajusta el ancho máximo */
  gap: 2rem; /* Añade separación entre los contenedores */
}
.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Hace que el contenedor del logo ocupe un espacio flexible */
  max-width: 45%;
}

.contenedor-formulario {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#formulario {
  width: 60%;
}
.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
}
.form-group label {
  font-size: 1.2rem;
  color: var(--morado);
  display: block;
  margin-bottom: 0.5rem;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #f4f4f4;
  transition: all 0.3s ease;
}
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: var(--morado);
  box-shadow: 0 0 5px rgba(111, 0, 94, 0.5);
}
.form-group textarea {
  resize: vertical;
  height: 150px;
}
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 0.9rem;
  color: #555;
}

.checkbox-group input [type="checkbox"] {
  margin: 0;
  width: 16px;
  height: 16px;
}
.checkbox-group a {
  color: var(--morado);
  text-decoration: none;
}

.checkbox-group a:hover {
  text-decoration: underline;
}

button {
  padding: 12px 20px;
  background-color: var(--burdeos);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--morado);
}

/* Estilo para el texto de la política */
.politica p {
  font-size: 0.8rem;
  color: #666;
  line-height: 1.5;
  text-align: center;
  margin-top: 2rem;
}
/*estilo map*/

.contenedor-map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  text-align: center;
  width: 80%;
  padding: 1rem;
}

#contacto iframe {
  width: 80%;
  height: 60vh;
  margin: 0;
}

/*estilos iconos*/

.nuestras-tiendas {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.iconos-tiendas {
  display: flex;
  justify-content: space-around; /* Espaciado igual entre los elementos */
  text-align: center; /* Centra el texto de cada ícono */
  padding: 20px;
  background-color: var(--blanco);
  gap: 2rem;
}

.icono-tienda1 {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icono-tienda2 {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.icono-tienda3 {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.iconos-tiendas div {
  flex: 1; /* Asegura que los elementos ocupen espacio igual */
  margin: 0 10px; /* Margen entre columnas */
}

.iconos-tiendas i {
  font-size: 40px; /* Tamaño del ícono */
  color: var(--morado);
  margin-bottom: 10px; /* Espacio debajo del ícono */
}

.iconos-tiendas h3 {
  font-size: 18px;
  color: #555; /* Color gris oscuro */
  margin: 10px 0;
}

.iconos-tiendas p {
  font-size: 16px;
  color: #333; /* Texto verde oscuro */
}

/*FOOTER*/
.footer-container {
  background-color: rgb(255, 154, 87);
  color: white;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.comercio-justo {
  width: 55%;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
.comercio-justo p {
  margin: 0;
  padding: 0.5rem 0;
  color: white;
}
.comercio-justo i {
  color: white;
}
.linea-fina {
  border: none; /* Elimina cualquier borde predeterminado */
  border-top: 1px solid #ccc; /* Añade una línea superior fina */
  margin: 0.5rem 0;
  padding: 1rem; /* Espaciado alrededor de la línea */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}

.newsletter {
  flex: 1;
  min-width: 300px;
  margin-right: 1rem;
}

.logo-footer {
  width: 150px;
}

.newsletter h3 {
  color: var(--blanco);
  margin-top: 0;
  text-align: left;
}

.newsletter p {
  margin-top: 0.5rem;
  text-align: left;
}

.newsletter form {
  display: flex;
  margin-top: 0.5rem;
}

.newsletter input[type="email"] {
  flex: 0.8;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  border: none;
}

.newsletter button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--naranja);
  color: white;
  cursor: pointer;
}

.newsletter .social-media {
  margin-top: 1rem;
}

.newsletter .social-media a {
  color: white;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.footer-columns {
  display: flex;
  flex: 2;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-right: 1rem;
}

.footer-column h4 {
  margin-top: 0;
}

.footer-column p {
  margin: 0.5rem 0;
}

.footer-column a {
  color: white;
  text-decoration: none;
  display: block;
}

.footer-column a:hover {
  text-decoration: underline;
}

.subfooter {
  background-color: rgb(255, 102, 0);
  color: white;
  text-align: center;
  padding: 1rem;
}

.subfooter p {
  margin: 0;
}
