
.contacto-texto {
  background-image: url("../img/inicio/hero1-copia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.contacto-texto:hover {
  transform: scale(1.05);
}


.cuerpo-contacto {
  margin: 5rem auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/*estilos iconos*/
.contactanos {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.contactanos h2 {
  text-align: center;
  color: var(--morado);
  font-weight: bold;
}
.iconos-contacto {
  display: flex;
  justify-content: space-around; /* Espaciado igual entre los elementos */
  text-align: center; /* Centra el texto de cada ícono */
  padding: 20px;
  background-color: var(--blanco);
  gap: 2rem;
}

.icono-lugar {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icono-tel {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.icono-email {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.iconos-contacto div {
  flex: 1; /* Asegura que los elementos ocupen espacio igual */
  margin: 0 10px; /* Margen entre columnas */
}

.iconos-contacto i {
  font-size: 40px; /* Tamaño del ícono */
  color: var(--naranja);
  margin-bottom: 10px; /* Espacio debajo del ícono */
}

.iconos-contacto h3 {
  font-size: 18px;
  color: #555; /* Color gris oscuro */
  margin: 10px 0;
}

.iconos-contacto p {
  font-size: 16px;
  color: #333; /* Texto verde oscuro */
}

/* Formulario */

.contenedor1 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%; /* Ajusta el ancho máximo */
  gap: 2rem; /* Añade separación entre los contenedores */
}
.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Hace que el contenedor del logo ocupe un espacio flexible */
  max-width: 45%;
}

.contenedor-formulario {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#formulario {
  width: 60%;
}
.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
}
.form-group label {
  font-size: 1.2rem;
  color: var(--morado);
  display: block;
  margin-bottom: 0.5rem;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #f4f4f4;
  transition: all 0.3s ease;
}
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: var(--morado);
  box-shadow: 0 0 5px rgba(111, 0, 94, 0.5);
}
.form-group textarea {
  resize: vertical;
  height: 150px;
}
.checkbox-group {
  color: var(--morado);
  margin: 1rem;
  padding: 2rem;
  text-align: center;
}

.checkbox-group input [type="checkbox"] {
  margin: 0;
  width: 16px;
  height: 16px;
}
.checkbox-group a {
  color: var(--morado);
  text-decoration: none;
}

.checkbox-group a:hover {
  text-decoration: underline;
}

button {
  padding: 12px 20px;
  background-color: var(--burdeos);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--morado);
}


/* Estilo para el texto de la política */
.politica p {
  font-size: 0.8rem;
  color: #666;
  line-height: 1.5;
  text-align: center;
  margin-top: 2rem;
}
/*estilo map*/

.contenedor-map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  text-align: center;
  width: 80%;
  padding: 1rem;
}

#contacto iframe {
  width: 80%;
  height: 60vh;
  margin: 0;
}

/*estilos iconos*/

.nuestras-tiendas {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.iconos-tiendas {
  display: flex;
  justify-content: space-around; /* Espaciado igual entre los elementos */
  text-align: center; /* Centra el texto de cada ícono */
  padding: 20px;
  background-color: var(--blanco);
  gap: 2rem;
}

.icono-tienda1 {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icono-tienda2 {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.icono-tienda3 {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.iconos-tiendas div {
  flex: 1; /* Asegura que los elementos ocupen espacio igual */
  margin: 0 10px; /* Margen entre columnas */
}

.iconos-tiendas i {
  font-size: 40px; /* Tamaño del ícono */
  color: var(--naranja);
  margin-bottom: 10px; /* Espacio debajo del ícono */
}

.iconos-tiendas h3 {
  font-size: 18px;
  color: #555; /* Color gris oscuro */
  margin: 10px 0;
}

.iconos-tiendas p {
  font-size: 16px;
  color: #333; /* Texto verde oscuro */
}


@media (max-width: 768px) {


  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  
  @media (max-width: 768px) {
    .contacto-texto {
      background-size: cover; 
      background-position: center center; 
      height: 40vh; 
    }
  }

  .contacto-texto h1 {
    font-size: 2rem; 
    text-align: center;
  }

  .cuerpo-contacto {
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
  }

  /* Estilos para los iconos de contacto */
  .iconos-contacto {
    flex-direction: column; 
    gap: 1rem;
    padding: 10px;
  }

  .iconos-contacto div {
    width: 100%; /
    margin-bottom: 1rem; 
  }

  .iconos-contacto i {
    font-size: 30px; 
  }

  /* Ajustar el formulario */
  .contenedor-formulario {
    width: 100%; 
    padding: 2rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-group label {
    font-size: 1rem;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    font-size: 1rem;
    padding: 10px;
  }

  button {
    padding: 10px 15px;
    font-size: 1rem;
  }

  /* Ajustar mapa */
  .contenedor-map {
    width: 100%;
    padding: 1rem;
  }

  #contacto iframe {
    width: 100%;
    height: 250px; /* Reducir altura del mapa */
  }

  /* Ajustes en las tiendas */
  .iconos-tiendas {
    flex-direction: column;
    gap: 2rem;
  }

  .iconos-tiendas div {
    width: 100%;
    margin-bottom: 1rem; /* Márgenes entre los elementos */
  }

  .iconos-tiendas i {
    font-size: 30px;
  }

}
