main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;     
    text-align: left;            
    padding: 30px;
    margin: 150px auto;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .proteccion-datos img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px auto;
  }
  
h3{
  text-align: left;
}
 li{   
font-size: 1rem;
color: #333;
margin-bottom: 0.5rem;
 }

 /* Estilos responsivos para pantallas de hasta 768px */
@media (max-width: 768px) {
  main {
      display: flex;
      flex-direction: column-reverse; /* Cambia el orden para que la imagen vaya antes del texto */
      padding: 20px;
      margin: 100px auto;
  }

  .proteccion-datos img {
      margin-bottom: 20px; /* A침ade un margen inferior a la imagen para separar del texto */
  }

  li {
      font-size: 0.9rem; /* Ajusta el tama침o del texto para pantallas m치s peque침as */
  }
}


