.cuerpo-panelAdministracion {
  margin: 5rem auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*estilos iconos*/
.opcionesPanel {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.opcionesPanel h2 {
  text-align: center;
  color: var(--morado);
  font-weight: bold;
}
.iconos-opcionesPanel {
  display: flex;
  justify-content: space-around; 
  text-align: center; 
  padding: 20px;
  background-color: var(--blanco);
  gap: 2rem;
}

.icono-opcionProducto {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icono-opcionUsuarios {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.icono-email {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.iconos-opcionesPanel div {
  flex: 1; 
  margin: 0 10px; 
}

.iconos-opcionesPanel i {
  font-size: 40px; 
  color: var(--morado);
  margin-bottom: 10px; /
}

.iconos-opcionesPanel h3 {
  font-size: 18px;
  color: #555; 
  margin: 10px 0;
}

.iconos-opcionesPanel p {
  font-size: 16px;
  color: #333; 
}

/* Diseño responsive para el panel de administración en pantallas de hasta 768px */

@media (max-width: 768px) {
  .cuerpo-panelAdministracion {
    margin: 2rem auto;
    padding: 50px;
    gap: 1.5rem;
  }

  .opcionesPanel {
    gap: 2rem;
  }

  .iconos-opcionesPanel {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .icono-opcionProducto,
  .icono-opcionUsuarios {
    max-width: 100%;
    width: 80%;
    padding: 1rem;
  }

  .iconos-opcionesPanel i {
    font-size: 30px;
  }

  .iconos-opcionesPanel p {
    font-size: 14px;
  }
}
