.contenedor-tabla {
width: 80%;
max-width: 1200px;
text-align: center;
margin: 5px auto;
}
  


/* Estilos para los botones */
.acciones {
display: flex;
justify-content: flex-start;
gap: 15px;
margin-top: 20px;
}

button {
background-color:#ff6600; 
color: white;
border: none;
padding: 10px 20px;
font-size: 1em;
display: flex;
align-items: center;
gap: 10px;
border-radius: 5px;
cursor: pointer;
}

button i {
font-size: 1.5em; /* Ajusta el tamaño del icono */
}

button:hover {
background-color: #cd0038; 
}

button:focus {
outline: none; 
}


/* Estilos para la tabla */
table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

th,
td {
padding: 10px;
text-align: left;
border: 1px solid  rgb(255, 235, 222); 
}

th {
background-color: rgb(255, 206, 173); 
color:white;
}

td {
background-color: #fff8f2; /* Fondo amarillo claro */
}

img {
width: 50px;
height: 50px;
object-fit: cover;
border-radius: 5px;
}

.filtro {
padding: 5px 10px;
border-radius: 15px;
}

/* Estilos para el checkbox en la tabla */
input[type="checkbox"] {
margin: 0;
}

.tabla-container {
max-height: 800px; /* Ajusta la altura según sea necesario */
overflow-y: auto; /* Activa el scroll vertical cuando el contenido sobrepase el tamaño */
border: 1px solid #ddd; /* Opcional: Agrega un borde alrededor de la tabla */
margin-top: 20px; /* Opcional: Margen superior para separación */
}

